$color-blue-1: #2a73dd;
$color-blue-2: #1d365e;
$color-white-1: #f5f9fe;
$color-boxshadow-1: 0 2px 4px #e2ebfc;
$color-pure-white: #fff;
body {
  background-color: $color-white-1;
}
header {
  background-color: $color-white-1;
  box-shadow: $color-boxshadow-1;
  .title {
    color: $color-blue-1;
  }
  .nav {
    .nav-item {
      padding: 20px;
    }
    .nav-link {
      color: $color-blue-2;
      font-weight: 500;
      transition: all 0.5s;
      &.nav-link:hover {
        color: $color-blue-1;
        &.nav-link::after {
          transform: scaleX(1);
        }
      }
      &.nav-link::after {
        transition: all 0.5s;
        content: "";
        display: block;
        height: 2px;
        width: 100%;
        transform: scaleX(0);
        background-color: $color-blue-1;
      }
      &.active {
        color: $color-blue-1;
      }
      &.active::after {
        transform: scaleX(1);
      }
    }
  }
}
// .container
.container {
  width: 100%;
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
}
// carosel
.carousel {
  .item {
    width: 100%;
    height: 300px;
    img {
      width: 100%;
      height: 100%;
      object-fit: fill;
    }
  }
}

// Define the animation properties
$animation-duration: 0.5s;
$animation-easing: ease-in-out;

// Define the styles for the select element
#productBrand {
  margin-bottom: 20px;
}
select {
  padding: 5px;
  background-color: $color-pure-white;
  border: 1px solid #ccc;
  font-size: 16px;
  transition: border-color $animation-duration $animation-easing;
  border-radius: 8px;
  width: 10rem;

  &:focus {
    outline: none;
    border-color: #6c63ff;
  }

  &:hover {
    border-color: #999;
  }

  option {
    opacity: 0;
    transform: translateY(-10px);
    transition: opacity $animation-duration $animation-easing,
      transform $animation-duration $animation-easing;

    &:nth-child(n + 2) {
      transition-delay: $animation-duration;
    }
  }
}

// Define the animation for the options
@keyframes optionAnimation {
  0% {
    opacity: 0;
    transform: translateY(-10px);
  }

  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

// Apply the animation to the options
select:focus option {
  animation: optionAnimation $animation-duration $animation-easing forwards;
}

#product {
  margin-top: 32px;
}

.card {
  padding: 20px;
  height: 100%;
  .card-body {
    padding: 20px 0 0 0;
  }
  .card-footer {
    padding: 10px 0 0 0;
  }
  #addToCartBtn {
    position: absolute;
    right: 20px;
  }
  .card-title {
    margin-bottom: 3px;
  }
}
.product_image {
  margin: -20px -20px -10px -20px;
  position: relative;
  max-width: 305px;
  max-height: 300px;
  img {
    padding: 20px;
    object-fit: contain;
    max-width: 305px;
    max-height: 300px;
  }
  &:hover .overlay {
    opacity: 1;
  }
}
.overlay {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  border-radius: 0.5rem 0.5rem 0 0;
  height: 100%;
  width: 100%;
  opacity: 0;
  transition: 0.5s ease;
  background-color: rgba(0, 0, 0, 0.5);
}

.product_detail {
  color: $color-pure-white;
  font-size: 20px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
// Cart
.cart {
  position: fixed;
  top: 0;
  right: -500px;
  width: 500px;
  height: 100vh;
  background-color: $color-pure-white;
  transition: right 0.5s;
  z-index: 98;
  padding: 20px;
  h3 {
    margin-top: 20px;
  }
  .cartContent {
    margin-top: 20px;
    .card-body {
      margin-bottom: 10px;
      padding: 0;
      p {
        margin-bottom: 2px;
        small {
          font-weight: bold;
          color: black !important;
        }
      }
      a {
        color: red;
        text-decoration: underline;
        cursor: pointer;
        position: absolute;
        top: 20px;
        right: 20px;
      }
      .price {
        position: absolute;
        bottom: 20px;
        right: 20px;
        font-weight: bold;
      }
    }
    .cartInfo {
      padding-top: 10px;
      padding-left: 20px;
    }
    .action {
      justify-content: space-between;
      display: flex;
      padding: 0px 20px 0 20px;
    }
    .cartProduct {
      max-height: calc(100vh - 280px); /* Adjust the value as needed */
      overflow-y: auto;
      .card {
        padding: 35px;
        .card-body {
          a {
            top: 8px;
          }
          .price {
            bottom: 10px;
          }
        }
      }
    }
  }
}

.quantity {
  padding-top: 10px;
  display: flex;
  align-items: center;
  width: 100%;
  input {
    width: 50px;
    text-align: center;
    border: none;
    outline: none;
    font-size: 16px;
    font-weight: bold;
  }
  button:active {
    background-color: #e0e0e0;
    transform: scale(0.9);
  }
}

.cart-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  opacity: 0;
  transition: opacity 0.3s ease-in-out;
  z-index: 97;
  pointer-events: none;
}

.cart.active {
  right: 0;
}

.cart-overlay.active {
  opacity: 1;
  pointer-events: auto;
}

.cart.active + .cart-overlay {
  opacity: 1;
  pointer-events: auto;
}

#cartBtn {
  position: fixed;
  top: 30px;
  right: 30px;
  z-index: 99;
  font-size: 18px;
  border: none;
  outline: none;
  background-color: $color-blue-1;
  color: $color-pure-white;
  cursor: pointer;
  padding: 15px;
  border-radius: 4px;
  transition: 0.5s;
}

#cartBtn:hover {
  background-color: $color-blue-2;
}

// Footer
.footer-clean {
  margin-top: 50px;
  padding: 50px 0;
  background-color: #fff;
  color: #4b4c4d;

  h3 {
    margin-top: 0;
    margin-bottom: 12px;
    font-weight: bold;
    font-size: 16px;
  }

  ul {
    padding: 0;
    list-style: none;
    line-height: 1.6;
    font-size: 14px;
    margin-bottom: 0;

    a {
      color: inherit;
      text-decoration: none;
      opacity: 0.8;

      &:hover {
        opacity: 1;
      }
    }
  }

  .item.social {
    text-align: right;

    > a {
      font-size: 24px;
      width: 40px;
      height: 40px;
      line-height: 40px;
      display: inline-block;
      text-align: center;
      border-radius: 50%;
      border: 1px solid #ccc;
      margin-left: 10px;
      margin-top: 22px;
      color: inherit;
      opacity: 0.75;

      &:hover {
        opacity: 0.9;
      }
    }
  }

  @media (max-width: 767px) {
    .item {
      text-align: center;
      padding-bottom: 20px;

      &.social {
        text-align: center;

        > a {
          margin-top: 10px;
        }
      }
    }
  }

  @media (max-width: 991px) {
    .item.social > a {
      margin-top: 40px;
    }
  }

  .copyright {
    margin-top: 14px;
    margin-bottom: 0;
    font-size: 13px;
    opacity: 0.6;
  }
}
